
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyLayout</title>
</head>
<body>
  
    <h2>东哥页面头部</h2>
    <hr />
    <hr />
    @RenderBody()
</body>
</html>
